body{
    background-color:brown;
    color:white;
}

header{
    background-color:chartreuse;
    color:black;
}

footer{
    background-color:silver;
    color:black;
}

a{
    text-align: center;
    text-decoration: none;
    border:3px solid black;
    border-radius:10px;
    background-color:skyblue;
}
